#submit {
  background-color: rgb(203, 203, 230);
}
.container {
  background-color: rgb(165, 121, 165);
}
#odds {
  text-align: center;
}
#loading {
  text-align: center;
}

body {
  background-image: url(img/EURO.webp);
}

#error {
  background-color: red;
}
